<app-restaurant-find></app-restaurant-find>

<section class="lista-restaurantes">
    <section class="restaurant-card ">
            <div class="image-restaurant w33">
                <img src="/assets/images/logo-restaurant.png" >
            </div>
            <div class="restaurant-info w50">
                <p class="name">Nome do Restaurante</p>
                <p class="address">Endereço do Restaurante</p>
            </div>
        </section>
        <section class="restaurant-card ">
            <div class="image-restaurant w33">
                <img src="/assets/images/logo-restaurant.png" >
            </div>
            <div class="restaurant-info w50">
                <p class="name">Nome do Restaurante</p>
                <p class="address">Endereço do Restaurante</p>
            </div>
        </section>

        <section class="restaurant-card ">
            <div class="image-restaurant w33">
                <img src="/assets/images/logo-restaurant.png" >
            </div>
            <div class="restaurant-info w50">
                <p class="name">Nome do Restaurante</p>
                <p class="address">Endereço do Restaurante</p>
            </div>
        </section>

        <section class="restaurant-card ">
            <div class="image-restaurant w33">
                <img src="/assets/images/logo-restaurant.png" >
            </div>
            <div class="restaurant-info w50">
                <p class="name">Nome do Restaurante</p>
                <p class="address">Endereço do Restaurante</p>
            </div>
        </section>

       

       
</section>